{% extends 'base.html' %} {% block content %}
<div class="container-fluid h-100">
  <div class="row h-100">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse h-100"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              <span data-feather="home"></span>
              Name: {{current_user.name}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="file"></span>
              National ID: {{current_user.national_id}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="shopping-cart"></span>
              DOB: {{current_user.dob}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="users"></span>
              Phone Number: {{current_user.phone_no}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="users"></span>
              <hr />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href={{url_for('update_my_profile')}}>
              <span data-feather="users"></span>
              <button class="btn btn-warning btn-block">Edit My Profile</button>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li> -->
        </ul>

        <!-- <h6
          class="
            sidebar-heading
            d-flex
            justify-content-between
            align-items-center
            px-3
            mt-4
            mb-1
            text-muted
          "
        >
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul> -->
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          border-bottom
        "
      >
        <h1 class="h2">{%if current_user.is_doctor and current_user.national_id == user_profile.id%}Dr. {%endif%}{{user_profile.name}}'s Profile</h1>
        {% if current_user.is_doctor %}
        <div class="btn-toolbar mb-2 mb-md-0">
          <!-- <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div>
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary dropdown-toggle"
          >
            <span data-feather="calendar"></span>
            This week
          </button> -->
          <form action={{url_for('profile')}} method="POST" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="User ID" aria-label="User ID" aria-describedby="button-addon2" name="user_id">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
          </form>
        </div>
        {% endif %}
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
      <!-- <div class="table-responsive"></div> -->
      {% with messages =
        get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="container w-50">
          <div
            class="
              alert alert-success alert-dismissible
              fade
              show
              d-flex
              justify-content-between
            "
            role="alert"
          >
            <strong>{{message}}</strong>
            <button
              type="button"
              class="close float-right"
              data-bs-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}

      <div class="container-fluid d-flex justify-content-between mt-5">
        <div class="card text-dark">
          <div class="card-body">
            <h4 class="card-title">No. of Prescriptions</h4>
            <h3 class="card-subtitle mb2 text-center">
              {{user_profile.prescriptions | length}}
            </h3>
          </div>
        </div>
        <div class="card text-dark">
          <div class="card-body">
            <h4 class="card-title">No. of Tests Ordered</h4>
            <h3 class="card-subtitle mb2 text-center">
              {{user_profile.tests | length}}
            </h3>
          </div>
        </div>
        <div class="card text-dark">
          <div class="card-body">
            <h4 class="card-title">No. of Tests Completed</h4>
            <h3 class="card-subtitle mb2 text-center">
              {{user_profile.reports | length}}
            </h3>
          </div>
        </div>
      </div>

      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          mt-5
          border-bottom
        "
      >
        <h1 class="h2">Prescriptions</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <!-- <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div> -->
          {% if current_user.is_doctor %}
          <a href="{{url_for('add_prescription')}}">
            <button
            type="button"
            class="btn btn-sm btn-outline-success"
          >
            <span data-feather="calendar"></span>
            Add
          </button>
          {% endif %}
          </a>
        </div>
      </div>
      <div class="container-fluid">
        {%for prescription in user_profile.prescriptions%}
          <div class="card mb-3">
            <h4 class="card-header text-dark">
              {{prescription.prescribed_on.date()}}
            </h4>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Medicine</th>
                    <th>Dosage</th>
                    <th>Directions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for medicine, direction in zip(prescription.medicines, prescription.directions) %}
                    <tr>
                      <td>{{medicine['medicine']}}</td>
                      <td>{{medicine['dosage']}}</td>
                      <td>{{direction}}</td>
                    </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        {%endfor%}
        <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          mt-5
          border-bottom
          w-100
        "
      >
        <h1 class="h2">Tests</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <!-- <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div> -->
          {% if current_user.is_doctor %}
          <a href="{{url_for('add_test')}}">
            <button
            type="button"
            class="btn btn-sm btn-outline-success"
          >
            <span data-feather="calendar"></span>
            Add
          </button>
          {% endif %}
          </a>
        </div>
      </div>
      <div class="container-fluid">
        {%for test in user_profile.tests%}
          <div class="card mb-3">
            <h4 class="card-header text-dark">
              {{test.ordered_on.date()}}
            </h4>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Test</th>
                    <th>Ordered_by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{test.name}}</td>
                    <td>Dr. {{test.ordered_by.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        {%endfor%}
      
      </div>
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          mt-5
          border-bottom
          w-100
        "
      >
        <h1 class="h2">Test Reports</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <!-- <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div> -->
          <!-- {% if current_user.is_doctor %}
            <a href="{{url_for('add_test')}}">
              <button
              type="button"
              class="btn btn-sm btn-outline-success"
            >
              <span data-feather="calendar"></span>
              Add
            </button>
            </a>
          {% endif %} -->
        </div>
      </div>
      <div class="container-fluid">
        {%for test in user_profile.test_reports%}
          <div class="card mb-3">
            <h4 class="card-header text-dark">
              {{test.ordered_on.date()}}
            </h4>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Test</th>
                    <th>Ordered_by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{test.name}}</td>
                    <td>Dr. {{test.ordered_by.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        {%endfor%}
      
      </div>
    </main>
  </div>
</div>
{% endblock %}
